<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="FileExtension" value="exe" />
		<add key="TemporaryProjectName" value="temp" />
		<add key="OutputDirectoryName" value="output" />
	</appSettings>
	<!--
	<author>
		<github>ShalltearIsMyWaifu</github>
		<discord>_shalltearbloodfallen_</discord>
	</author>
	-->
</configuration>